<p id="notice"><%= notice %></p>

<p>
  <strong>File name:</strong>
  <%= @report.file_name %>
</p>

<p>
  <strong>File path:</strong>
  <%= @report.file_path %>
</p>

<p>
  <strong>Date:</strong>
  <%= @report.date %>
</p>

<p>
  <strong>Password:</strong>
  <%= @report.password %>
</p>

<p>
  <strong>Image path:</strong>
  <%= @report.image_path %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
